<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Todos:</h1>
  <ul>
    <% if (todos.length) { %>
      <% todos.forEach(({ id, title, text }) => { %>
        <li>
          <article>
            <h2>
              <a href="/todos/<%= id%>"><%= title %></a>
            </h2>
            <p><%= text %></p>
          </article>
        </li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>